<!-- start custom footer snippets -->
<!-- See more examples of how to use Formbutton at formspree.io/formbutton/docs -->
<!-- modify this form HTML and place wherever you want your form -->

<form
  action="https://formspree.io/f/mjvpovka"
  method="POST"
>
  <label>
    Your email:
    <input type="text" name="_replyto">
  </label>
  <label>
    Your message:
    <textarea name="message"></textarea>
  </label>

  <!-- your other form fields go here -->

  <button type="submit">Send</button>
</form>
<!-- end custom footer snippets -->