{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src="{{ s.image | relative_url }}"
             alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  </div>
{% endif %}
<form style="border:1px solid #ccc;padding:3px;text-align:center;"
  action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow"
  onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=feedburner/aKM', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
  <p>Enter your email address:</p>
  <p><input type="text" style="width:50px" name="email" /></p><input type="hidden" value="feedburner/aKM"
    name="uri" /><input type="hidden" name="loc" value="en_US" /><input type="submit" value="Subscribe" />
  <p>Delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a></p>
</form>